@tailwind base;
@tailwind components;
@tailwind utilities;

.lienmen{
	text-decoration: none;
	background: linear-gradient(to top, rgba(0, 225, 255, 0.5) 0%, rgba(0, 208, 255, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size .5s;
  }
  
  .lienmen:hover {
	background-size: 100% 100%;
  }
.nuage{
	animation: move 230s infinite;
}
@keyframes move {
	0% {
	  left: 0;
	}
	50% {
	  left: calc(100% - 50px);
	}
	100% {
	  left: 0;
	}
  }

  .reflet{

	content: "";
	opacity: 0.3;
	transform: scaleY(-1);

  }


.boat{
    animation: boat 3s linear infinite;
}
@keyframes boat{
	0%{
		transform: rotate(0);
	}

	50%{
		transform: rotate(-3deg);
	}

	100%{
		transform: rotate(0);
	}
}

.fondep{
    background: linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(122, 27, 27, 0.401)
		),url(./assets/fond-ep.jpg);

background-size: cover;
}